*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
servers/nohup.out
test/output.txt
external/stanford-parser-2008-10-26/
external/stanford-parser-2012-07-09/
external/dbpediakit/
external/en/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#Specific type of file
*.asc
#Persistence files
*.p

*.txt
*.out
