{% extends "base.html" %}
{% load stringhelpers %}

     {% block child %}

    <ul class="nav nav-tabs" id="tablist">
        <li><a data-target="#submitquestion" data-toggle="tab">Submit a Question</a></li>
        <li><a data-target="#choosequestion" data-toggle="tab">Choose a Question</a></li>
    </ul>


      <!-- Jumbotron -->
      <div id="questionbox" class="tab-content jumbotron"> 
          
        <!-- div for choosing question -->
            <div id="choosequestion" class="tab-pane">

                <div class="accordion" id="qlist">
                    
                {% for question in questionlist %}
                    <div class="accordion-group">
                        <div class="accordion-heading">
                        <a style="text-align:left;" class="accordion-toggle" data-toggle="collapse" data-parent="#qlist" href="#question{{forloop.counter}}"> 
                        {{ question|empty }} </a>
                        </div>
                        <div id="question{{forloop.counter}}" class="accordion-body collapse">
                            <div class=accordion-inner">
                            {{ question|repl:forloop.counter|safe }}

                            <button class="btn btn-success" style="margin: 0% 0% 1% 10%;" type="button" onClick="parseparams({{forloop.counter}})">
                                Submit
                            </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>


            <!-- div for submitting question -->
              <div id="submitquestion" class="tab-pane active">
                <h1 class="muted question_header">Submit a Question</h1>
                <input type="text" id="questionfield" class="span4 input-large" placeholder="{{question|default:"Question"}}">
                <a class="btn btn-large btn-success" href='#' onClick="if(document.getElementById('questionfield').value != ''){window.location = '/QA_demo/?question='+encodeURIComponent(document.getElementById('questionfield').value)}">Submit</a>
              </div>
         

             {% if answer_ary|length > 0 %}
             <table id = "answertable" class ="table table-hover table-bordered">
                <thead><p class="answertable_header">Answers:</p></thead>
                    <tbody>
                {% for answer in answer_ary %}
                       <tr class="info">
                            <td><p class="answertable_entries">{{answer}}</p></td>
                       </tr>
                {% endfor %}
                  </tbody>
             </table>
             {% endif %}
            </div
  
    <hr>
    </div> <!-- /container -->

{% endblock %}

